@import 'modules/_meyer-reset';
@import 'modules/variables';

/* Fonts */

@font-face {
  font-family: 'baron-neue';
  src: url('../fonts/baron-neue.eot'); /* IE9 Compat Modes */
  src: url('../fonts/baron-neue.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/baron-neue.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/baron-neue.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/baron-neue.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'baron-neue';
  src: url('../fonts/baron-neue.eot?') format('eot'), url('../fonts/baron-neue.woff') format('woff'), url('../fonts/baron-neue.ttf') format('truetype');
}

@font-face {
  font-family: 'baron-neue-bold';
  src: url('../fonts/baron-neue-bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/baron-neue-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/baron-neue-bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/baron-neue-bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/baron-neue-bold.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'baron-neue-bold';
  src: url('../fonts/baron-neue-bold.eot?') format('eot'), url('../fonts/baron-neue-bold.woff') format('woff'), url('../fonts/baron-neue-bold.ttf') format('truetype');
}

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  margin: 0!important;
  overflow-x:hidden;
}

body {
  width: 100%;
  height: 100%;
  font-family: $font1;
  font-style: normal;
  background: $black;
}

img {
  max-width: 100%;
}

strong, b {
  font-weight: bold;
}

em {
	font-weight: 400;
  font-style: italic;
}

.last {
  margin: 0!important;
  padding-bottom: 0!important;
}

.contain {
	margin: $contain;
}

.no-js #load {
  display: none;
}

#load {
  z-index: 9999;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: $black;
}

#load .load-screen {
  position: absolute;
  top: 48%;
  left: 48%;
  width: 175px;
  height: 80px;
  transform: translate(-48%, -48%);
}

#load .load-screen img {
  margin-bottom: 20px;
}

.load-screen .bar {
  background: #fff;
  height: 2px;
  width:0%;
  opacity:1;
}

/* Titles & Text & Links */

h1, h2, h3, h4, h5 {
  font-family: $font1;
  font-weight: 400;
  line-height: 1.1em;
}

p, ul, ol, blockquote {
  font-family: $font2;
  font-style: normal;
  font-weight: 200;
  color: $white;
}

a, a:visited {
	color: $white;
	text-decoration: underline;
}

a:active, a:hover {
	color: $white;
}

/* Layout */

.w100 {
  height: 100%;
  width: 100%;
}

.w100 .full-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background: url('../img/bg.jpg');
  background-attachment: local;
  background-repeat: no-repeat;
  background-color: rgba(0,0,0,0.5);
  background-position: top right;
  overflow: auto;
  height: 100%;
}

.w100 .full-container .content {
  flex: none;
  padding: 30px 30px;
}

.left {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: auto;
  width: 100%;
  text-align: center;
}

.site-links {
  margin-top: $reg-margin;
}

.social-media, .site-links {
  display: none;
}

.site-links ul li, .social-media ul li {
  text-transform: uppercase;
  padding: 10px 0;
  font-size: $small-head-size-2;
  font-weight: 800;
}

.site-links ul li a, .social-media ul li a {
  text-decoration: none;
  padding-bottom: 3px;
  border-bottom: 0px solid;
}

.site-links ul li a:hover, .social-media ul li a:hover {
  border-bottom: 2px solid $white;
}

.center {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: none;
  position: relative;
  top: -30px;
}

.left div, .left nav {
  width: 100%;
}

.left .logo img {
  max-width: none;
}

.left .site-links {
}

.left .social-media {

}

.center-content {

}

.center-content-front {
  position: relative;
  z-index: 10;
  top: 0;
  opacity: 1;
  transition: all 0.25s ease-in-out;
}

.center-content-front.current {
}

#listings {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  transition: all 0.25s ease-in-out;
}

#listings-dates {
  width: 100%;
  margin-right: 0;
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
  display: none;
}

#listings-dates li {
  background: $dgrey;
  color: $white;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 10px;
  margin-bottom: 10px;
  position: relative;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

#listings-dates li.current {
  background: $white;
  color: $black;
  font-size: $small-head-size-2;
  padding: 22px 10px 20px;
}

#listings-dates li:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 100%;
  width: 0;
  height: 0;
  transform: translateY(-50%);
  border-top: 0px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 0px solid $dgrey; 
  transition: all 0.25s ease-in-out;
  display: none;
}

#listings-dates li.current:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 100%;
  width: 0;
  height: 0;
  transform: translateY(-50%);
  border-top: 31px solid transparent;
  border-bottom: 31px solid transparent;
  border-left: 31px solid $white;
  display: none;
}

#listings li {
  position: relative;
  transform: translateX(650px);
  opacity: 0;
  transition: all 0.75s ease-in-out;
  display: none;
  width: 100%;
}

#listings li.current {
  transform: translateX(0px);
  opacity: 1;
  display: block;
}

.center-content-front-wrapper {
  width: auto;
  padding-bottom: 20px;
}

.channels {
  margin-top: 30px;
  position: relative;
  left: 0;
  bottom: 0;
  padding: 20px 0 30px;
  background: transparent;
  width: 100%;
  order: 1;
}

.channels ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  position:relative;
  top: 0px;
  z-index: 10;
}

.channels ul li {
  padding: 0;
  text-align: center;
  position:relative;
  margin-bottom: 30px;
}

.channels ul li:nth-child(1) {
  padding-left: 0;
}

.channels ul li:nth-child(4):after {
  display: none;
}

.channels ul li:after {
  content: '';
  height: 80px;
  width: 2px;
  transform: rotate(13deg);
  background-color: $white;
  color: $white;
  position: absolute;
  bottom: 0;
  right: 0;
  display: none;
}

.channels ul li img {
  margin-bottom: 10px;
}

.channels h3 {
  font-family: $font2;
  font-weight: 800;
  font-size: $small-size-2;
  text-transform: uppercase;
}

.schedule, .features, .about {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  transform: none;
  visibility: visible;
  transition: all 0.75s ease;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  padding-bottom: 30px;
  border-bottom: 2px solid $white;
  order: 2;
  margin-top: 30px;
}

.schedule {
  display: flex;
  flex-direction: column;
}

.mobile-sm {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  order: 3;
  margin-top: 30px;
}

.mobile-sm ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

}

a.facebook, a.facebook:visited, a.instagram, a.instagram:visited, a.twitter, a.twitter:visited, a.facebook, a.twitter:visited {
  color: $white;
  text-decoration: none;
}

a.facebook:active, a.facebook:hover {
  color: $fb;
}

a.instagram:active, a.instagram:hover {
  color: $insta;
}

a.twitter:active, a.twitter:hover {
  color: $twit;
}

a.youtube:active, a.youtube:hover {
  color: $yt;
}

.schedule.current, .features.current, .about.current {
  opacity: 1;
  visibility: visible;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

.features.current ul {
  overflow: auto;
}

.schedule h2, .features h2, .about h2 {
  color: $white;
  font-family: $font1;
  font-size: $medium-size;
  letter-spacing: 1px;
  margin-bottom: $reg-margin;
}

.center-content p {
  font-weight: 200;
  line-height: 1.3em;
  margin-bottom: 20px;
  font-size: $font-size;
}

.day {
  margin-bottom: $reg-margin;
}

.day h3.date {
  color: $blue;
  font-family: $font1;
  font-size: $small-head-size;
}

.day span.time {
  color: $white;
  font-family: $font2;
  text-transform: uppercase;
  font-size: $reg-size;
}

.day h4.program-title {
  color: $white;
  margin-top: 10px;
  font-size: $small-head-size-2;
  margin-bottom: $reg-margin;
}

.features ul li.video {
  display: flex;
  margin: 0 0 30px;
  flex-direction: column;
}

.features ul {
  overflow: visible;
  height: auto;
}

.features .video_desc, .features iframe {
  flex-basis: auto;
}

.features .video_desc {
  width: 100%;
  margin-right: 0;
  margin-top: 20px;
  order: 2;
}

.features .video_desc h3 {
  font-size: $small-head-size;
}

.features .video_desc h4 {
  font-size: $small-head-size-2;
  color: $blue;
}

.features .video_desc p {
  margin-top: 10px;
  font-weight: 200;
  font-size: $font-size;
}

.youtube-player {
  position: relative;
  padding-bottom: 0;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background: #000;
  margin: 5px 0;
  width: 100%;
  height: 200px;
}
    
.youtube-player iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: transparent;
}
    
.youtube-player img {
  bottom: 0;
  display: block;
  left: 0;
  margin: auto;
  max-width: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  height: auto;
  cursor: pointer;
  -webkit-transition: .4s all;
  -moz-transition: .4s all;
  transition: .4s all;
}
    
.youtube-player img:hover {
  -webkit-filter: brightness(75%);
}
    
.youtube-player .play {
  height: 72px;
  width: 72px;
  left: 50%;
  top: 50%;
  margin-left: -36px;
  margin-top: -36px;
  position: absolute;
  background: url("../img/play.png") no-repeat;
  cursor: pointer;
}

@media only screen and (min-width: 400px) {

.channels {
  margin-top: 0;
}

.channels ul {
  flex-direction: row;
}

.channels ul li {
  margin-bottom: 0;
  flex: 1;
  flex-basis: auto;
}

}

@media only screen and (min-width: 750px) {

.left .logo img {
  max-width: 100%;
}

#listings-dates {
  display: flex;
}

#listings li {
  display: block;
  width: auto;
  position: absolute;
}

.w100 .full-container .content {
  padding: 30px 60px;
}

.mobile-sm {
  display: none;
}

.left {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100vh;
  width: 230px;
  text-align: left;
  background: $black;
  position: relative;
  z-index: 500;
}

.w100 .full-container {
  flex-direction: row;
  overflow: hidden;
  height: auto;
  background-attachment: fixed;
  background-position: center;
}

.schedule, .features, .about {
  position: absolute;
  width: 100%;
  top: 30px;
  left: 0;
  opacity: 0;
  transform: translateY(300px);
  visibility: hidden;
  transition: all 0.75s ease;
  -webkit-font-smoothing: antialiased;
  text-align: left;
  padding-bottom: 0;
  border-bottom: 0px solid;
  order: 1;
  margin-top: 0;
}

.schedule.current, .features.current, .about.current {
  opacity: 1;
  visibility: visible;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

.social-media, .site-links {
  display: block;
}

.center {
  width: 60%;
  display: flex;
  flex-direction: column;
  background: none;
  position: relative;
  top: 0;
}

.center-content-front {
  max-width: 550px;
}

.channels {
  position: absolute;
  margin-top: auto;
  left: 0;
  background: $black;
  order: 2;
}

.channels ul {
  align-items: flex-end;
}

.channels ul li {
  padding: 0 10px;
  flex: none;
}

.channels ul li:after {
  display: none;
}

.schedule h2, .features h2, .about h2 {
  font-size: $large-size;
}

.day h3.date {
  font-size: $medium-size;
}

.day span.time {
  font-size: $font-size;
}

.day h4.program-title {
  font-size: $small-head-size;
}

.center-content p {
  font-weight: 600;
  font-size: $small-head-size-2;
}

.youtube-player {
  width: 515px;
  margin: 5px;
}

.features ul {
  overflow: auto;
  height: 100vh - 25vh;
}

}

@media only screen and (min-width: 960px) {

.left {
  width: 295px;
}

.left .logo img {
  max-width: none;
}

.channels ul li {
  padding: 0 35px;
}

.channels ul li:after {
  display: block;
}

#listings-dates {
  width: 250px;
  margin-right: 40px;
  display: block;
  text-align: left;
  margin-bottom: 0;
}

.schedule {
  flex-direction: row;
}

#listings-dates li:after {
  display: block;
}

#listings-dates li.current:after {
  display: block;
}

}

@media only screen and (min-width: 1180px) {

.center {
  width: 80%;
}

.features ul li.video {
  display: flex;
  margin: 0 0 30px;
  flex-direction: row;
}

.features .video_desc {
  width: 30%;
  margin-right: 30px;
  margin-top: 0;
  order: 1;
}

.youtube-player {
  width: 507px;
  height: 315px;
  order: 2;
}

.center-content-front {
  max-width: none;
}

.center-content-front-wrapper {
  width: 600px;
}

}

@media only screen and (min-width: 1250px) {

.center {
    width: 100%;
}

}
