$white: #FFFFFF;
$black:  #000000;
$blue: #0C88D2;
$red: #EE384F;
$grey: #404040;
$lgrey: #D8D8D8;
$fb-blue: #3B5998;

$font1: "baron-neue", Arial, sans-serif;
$font2: "proxima-nova", Helvetica, sans-serif;
$font-bold: "baron-neue-bold", Arial, sans-serif;

$contain: 0 20px;

$tiny-size: 10px;
$small-size: 12px;
$small-size-2: 14px;
$reg-margin: 30px;
$reg-size: 16px;
$font-size: 18px;
$hero-size: 60px;

$large-size: 36px;
$medium-size: 28px;
$small-head-size: 24px;
$small-head-size-2: 20px;